<header class="jumbotron">{{ currentUser.name }}</header>
<p>
    <strong>Email:</strong>
    {{ currentUser.email }}
</p>
<p *ngIf="!currentUser.hasSteamLogin">
    <strong>Steam Login: </strong>
    <a href="/Shipyard/steam/register" *ngIf="!currentUser.hasSteamLogin"><img src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_01.png" alt="Sign in through Steam. This site not associated with Valve Corp."></a>  <b class="text-danger" *ngIf="steamError">{{ steamError }}</b>
</p>
<p *ngIf="currentUser.hasSteamLogin">
    <strong>Steam Login: Enabled!</strong>&nbsp;<a href="#" (click)="removeSteam()">Unlink</a>
</p>
<p class="download-button"><a href="/profile/edit" routerLink="/profile/edit" class="btn btn-primary">Edit Profile</a></p>

<ng-template #loggedOut>
  Please login.
</ng-template>