<header class="billboard">
    <h1>Welcome to the Shipyard!</h1>
    <p>Bringing you the best content for <a href="https://introversion.co.uk/introversion/#games">The Last Starship</a>, whether you play on <a href="https://store.steampowered.com/news/app/1857080">Steam</a>, <a href="https://www.gog.com/game/the_last_starship">GOG</a>, <a href="https://www.humblebundle.com/store/the-last-starship">Humble Bundle</a>, or SendOwl. Just like the game, we're currently in alpha and have a lot of exciting features planned.</p>
</header>

<h2>Changes</h2>

<p>This website may change frequently as we stability the look, feel, and feature set. You can view <a href="https://github.com/Totengeist/Shipyard/blob/main/CHANGELOG.md">the changelog on GitHub</a>.

<h2>Contributing</h2>

<p>If you have experience with PHP/Slim and JavaScript/Angular and are interested in helping out, the project's code is hosted on <a href="https://github.com/Totengeist/Shipyard">GitHub</a>. You can submit bug reports or fixes there.</p>

<p>If the project has provided you with some value, consider helping offset server costs by <a href="https://ko-fi.com/Totengeist">donating a dollar</a>. The money will be used to support Shipyard and the TLS wiki.

<h2>Contact</h2>

<p>If you need support or have questions, you can contact <a href="https://discord.gg/dzYvhPs2YV">Totengeist on the TLS Discord server</a>.</p>
