<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Shipyard</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/ships" class="nav-link" routerLink="ships">Ships</a>
      </li>
      <li class="nav-item">
        <a href="/challenges" class="nav-link" routerLink="challenges">Challenges</a>
      </li>
      <li class="nav-item">
        <a href="/saves" class="nav-link" routerLink="saves">Saves</a>
      </li>
      <li class="nav-item">
        <a href="/releases" class="nav-link" routerLink="releases">Releases</a>
      </li>
      <li class="nav-item" *ngIf="isDashboard()">
        <a href="/admin/roles" class="nav-link" routerLink="/admin/roles">Roles</a>
      </li>
      <li class="nav-item" *ngIf="isDashboard()">
        <a href="/admin/permissions" class="nav-link" routerLink="/admin/permissions">Permissions</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && showDashboard">
        <a href="/admin/dashboard" class="nav-link" routerLink="admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer navbar navbar-expand navbar-dark bg-dark">
    <div>© 2022 Totengeist</div>
  </footer>
</div>
