<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/home" class="navbar-brand" routerLink="home">Shipyard</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isDashboard()">
        <a href="/admin/roles" class="nav-link" routerLink="/admin/roles">Roles</a>
      </li>
      <li class="nav-item" *ngIf="isDashboard()">
        <a href="/admin/permissions" class="nav-link" routerLink="/admin/permissions">Permissions</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!user.isLoggedIn()">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="user.isLoggedIn()">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ user.username }}</a>
      </li>
      <li class="nav-item" *ngIf="user.isLoggedIn() && user.showDashboard">
        <a href="/admin/dashboard" class="nav-link" routerLink="admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="user.logout()">Log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container" style="display: flex; width: 100%; max-width: 100%;">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/ships" class="nav-link" routerLink="ships">Ships</a>
          </li>
          <li>
            <a href="/mods" class="nav-link" routerLink="mods">Mods</a>
          </li>
          <li>
            <a href="/saves" class="nav-link" routerLink="saves">Saves</a>
          </li>
          <li>
            <a href="/releases" class="nav-link" routerLink="releases">Releases</a>
          </li>
          <li>&nbsp;</li>
          <li>
            <a href="/new" class="nav-link" routerLink="new">Upload an item!</a>
          </li>
        </ul>
      </div>
      <div class="content"><router-outlet></router-outlet></div>
  </div>
  <footer class="footer navbar navbar-expand navbar-dark bg-dark">
    <div>© 2022 Totengeist</div>
  </footer>
</div>
