<header class="billboard">
    <h1>Welcome to the Shipyard!</h1>
    <p>Bringing you the best content for <a href="https://introversion.co.uk/introversion/#games">The Last Starship</a>, whether you play on <a href="https://store.steampowered.com/news/app/1857080">Steam</a>, <a href="https://www.gog.com/game/the_last_starship">GOG</a>, <a href="https://www.humblebundle.com/store/the-last-starship">Humble Bundle</a>, or SendOwl. Just like the game, we're currently in alpha and have a lot of exciting features planned.</p>
</header>

<div *ngFor="let type of itemTypes">
<h3 *ngIf="type==='ship'">Ships</h3>
<h3 *ngIf="type==='save'">Saves</h3>
<h3 *ngIf="type==='modification'">Mods</h3>
<div class="home-list">
<ul class="home-list">
    <li class="home-item" *ngFor="let item of items[type]" title="{{ item.title }} by {{ item.username }}">
        <a href="/{{ type }}/{{ item.ref }}" routerLink="/{{ type }}/{{ item.ref }}"><img src="{{ item.screenshot }}" alt=""></a>
        <p><a href="/{{ type }}/{{ item.ref }}" routerLink="/{{ type }}/{{ item.ref }}">{{ item.title }}</a> by {{ item.username }}</p>
    </li>
    <li class="home-more">
        <a href="/{{ type }}s" routerLink="/{{ type }}s">View more</a>
    </li>
</ul>
</div>
</div>