parameters:
	level: 8
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#^Method Tests\\[^\:]+\:\:test[^\(]+\(\) has no return type specified\.$#'
			path: tests/*
		-
			message: '#^Variable \$(faker|factory) might not be defined\.#'
			path: tests/*
		-
			message: '#^Cannot (access property \$ref|call method (getBody|getHeader)\(\)) on (Psr\\Http\\Message\\ResponseInterface|object)\|null\.#'
			path: tests/*
		-
			message: '#^Call to an undefined method .*\:\:(toJson|findOrFail|firstOrFail|first|get)\(\)\.#'
			path: tests/*
		-
			message: '#^Cannot call method toJson\(\) on #'
			path: tests/*
		-
			message: '#^Access to an undefined property#'
			path: tests/*
		-
			message: '#^Variable \$app might not be defined\.#'
			path: src/config/routes.php
