<div id="upload-container">
    <h1>Upload a new item</h1>
    <form id="upload">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required />
            <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="description" name="description" placeholder="Why should someone download this item? What considerations are there?" required style="height: 160px;"></textarea>
            <label for="description">Describe the item <small>(Why should someone download it? What considerations are there?)</small></label><br>
        </div>
        <div class="form-floating mb-3" style="text-align: right; margin-top: -35px;"><a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown allowed</a></div>
    </form>
    <p class="alert alert-warning" *ngIf="parent !== ''">You're uploading a revision to an existing item. If this was unintended, please use the upload form <a href="/new" routerLink="new">here</a>.</p>
    <p class="alert alert-primary" *ngIf="itemType !== ''">It looks like you're uploading a {{ supportedTypes[itemType][0] }}. If this isn't right, please <a href="/support" routerLink="support">contact us</a>.</p>
    <div id="uppy"></div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
