<div id="item-details">

<div id="upload-container">
    <h1>Edit {{ item.title }}</h1>
    <form id="edit-form">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required value="{{ item.title }}" />
            <label for="title">Title</label>
        </div>
        <app-search  (setNameEvent)="addTag($event.item)"></app-search>
        <ul class="item-tags">
            <input type="hidden" id="remove_tags" name="remove_tags" required value="{{ removeTags.join(',') }}" />
            <input type="hidden" id="add_tags" name="add_tags" required value="{{ addTags.join(',') }}" />
            <li *ngFor="let tag of tags" (click)="removeTag(tag)" (keyup)="removeTag(tag)" role="link" tabindex={{0}}>{{ tag.label }}</li>
        </ul>
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="description" name="description" placeholder="Why should someone download this item? What considerations are there?" required style="height: 160px;" value="{{item.description}}"></textarea>
            <label for="description">Describe the item <small>(Why should someone download it? What considerations are there?)</small></label><br>
        </div>
        <div class="form-floating mb-3" style="text-align: right; margin-top: -35px;">
            <input *ngIf="authUser.can('edit '+itemType+'s')" type="checkbox" name="state[]" id="state_locked"   value="locked"   [checked]="isLocked()"  > <label class="checkbox-label" for="state_locked" *ngIf="authUser.can('edit '+itemType+'s')">Locked</label>
            <input type="checkbox" name="state[]" id="state_private"  value="private"  [checked]="isPrivate()" > <label class="checkbox-label" for="state_private">Private</label>
            <input type="checkbox" name="state[]" id="state_unlisted" value="unlisted" [checked]="isUnlisted()"> <label class="checkbox-label" for="state_unlisted">Unlisted</label>
            <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown allowed</a>
        </div>
        <p class="alert alert-warning">You can replace the downloadable file below. If you've made changes to the file to update it for newer versions of the game, consider <a href="new;parent={{ itemId }};itemType={{ itemType }}" [routerLink]="['/new', {parent: itemId, itemType: itemType}]">creating a revision</a> instead.</p>
        <div id="uppy"></div>
        <input type="submit" name="submit" class="btn btn-primary" value="Submit" />
    </form>

    <h2>Edit screenshots</h2>
    <form id="screenshots-form">
        <div id="item-screenshots" *ngIf="hasScreenshots()">
        <ul class="screenshot-list screenshot-edit">
            <li *ngFor="let screenshot of screenshots">
                <span class="screenshot-controls">
                    <span *ngIf="screenshot.primary">🌟</span>
                    <a (click)="makePrimaryScreenshot(screenshot)" (keyup)="makePrimaryScreenshot(screenshot)" role="link" tabindex={{0}} *ngIf="!screenshot.primary" class="screenshot-control" title="Make primary">⭐</a>
                    <a (click)="editScreenshotDescription(screenshot)" (keyup)="editScreenshotDescription(screenshot)" role="link" tabindex={{0}} class="screenshot-control" title="Edit description">📝</a>
                    <a (click)="deleteScreenshot(screenshot)" (keyup)="deleteScreenshot(screenshot)" role="link" tabindex={{0}} class="screenshot-control" title="Delete">🗑️</a>
                </span>
                <img src="api/v1/screenshot/{{ screenshot.ref }}/download" alt="{{ screenshot.description }}" title="{{ screenshot.description }}">
            </li>
        </ul>
        </div>
        <div id="screenuppy"></div>
    </form>

    <h2>Danger area</h2>
    <button (click)="deleteItem()" class="btn btn-danger">Delete Item</button>
</div>

</div>
