<h1>Reset Password</h1>
<form 
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
    <div class="form-floating mb-3" *ngIf="!token">
        <input type="text" class="form-control" id="email" name="email" placeholder="Password" />
        <label for="name">Email</label>
    </div>
    <div class="form-floating mb-3" *ngIf="token">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
        <label for="name">Password</label>
    </div>
    <div class="form-floating mb-3" *ngIf="token">
        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Password Confirmation" />
        <label for="name">Password Confirmation</label>
    </div>
    <div class="form-floating mb-3">
        <input type="submit" id="submit" value="Submit" class="btn btn-primary" (click)="onSubmit()" />
    </div>
    <div class="alert alert-primary" *ngIf="request">
      Your request has been submitted. If this email is associated with an account, it will soon receive an email with a link to reset your password.
    </div>
    <div class="alert alert-primary" *ngIf="send">
      Your password reset has been submitted. Please <a href="/login" routerLink="/login">log in</a>!
    </div>
    <div class="alert alert-danger" *ngIf="send">
      There was an error, which has been logged. Please <a href="/login" routerLink="/login">contact us</a>.
    </div>
</form>