/* You can add global styles to this file, and also import other style files */

html, body {
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	flex: 1;
	display: flex;
	width: 100%;
	max-width: 100%;
}

.content {
	flex: 1;
}

header.jumbotron {
	font-size: x-large;
	font-weight: bold;
}

footer div {
	width: 100%;
	text-align: center;
	color: #6c757d;
}

.item-list {
	list-style-type: none;
	float: left;
	display: block;
	height: 250px;
	width: 320px;
	margin: 15px;
	overflow: hidden;
}

.item-list img {
	width: 100%;
	border: 1px solid black
}