/* You can add global styles to this file, and also import other style files */

html, body {
	min-height: 100vh;
}

header.billboard {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
}

header.billboard h1 {
    font-size: x-large;
    font-weight: bold;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	display: flex;
	width: 100%;
	max-width: 100%;
}

.content {
	flex: 1;
}

.nav-link {
	cursor: pointer;
}

#login {
	width: fit-content;
	margin: auto;
	width: 300px;
}

#login .card {
	padding: 15px;
}

#steam-login {
	display: block;
	margin: auto;
}

header.jumbotron {
	font-size: x-large;
	font-weight: bold;
}

footer div {
	width: 100%;
	text-align: center;
	color: #6c757d;
}

ul.result-list {
	display: flex;
	flex-wrap: wrap;
}

li.result-item {
	list-style-type: none;
	height: 300px;
	width: 320px;
	margin: 15px;
	overflow: hidden;
}

li.result-item img {
	width: 100%;
	height: 200px;
	border: 1px solid black;
	object-fit: cover;
}

div.home-list {
	clear: both;
	overflow: hidden;
	width: 83vw;
	overflow-x: scroll;
	margin-bottom: 25px;
}

ul.home-list {
	padding-left: 0;
	width: max-content;
}

li.home-item {
	list-style-type: none;
	width: 250px;
	height: 147;
	margin: 5px;
	float:left;
	margin-bottom: -10px;
}

li.home-item img {
	width: 100%;
	height: 123px;
	border: 1px solid black;
	object-fit: cover;
}

li.home-item p {
	position: relative;
	top: -25px;
	margin: 0 1px;
	padding: 0 3px;
	background-color: rgba(255, 255, 255, 0.6);
	text-wrap: nowrap;
	overflow: hidden;
}

li.home-more {
	list-style-type: none;
	width: 250px;
	margin: 5px;
	float:left;
	margin-bottom: -10px;
	border: 1px solid black;
}

li.home-more a {
	display: block;
	width: max-content;
	height: 123px;
	margin: auto;
	padding-top: 50px;
}

app-item-page {
	display: flex;
	padding: 5px;
}

div#item-screenshots {
	width: 800px;
	margin-right: 50px;
}
div#item-details {
	flex-grow: 2;
}

ul.screenshot-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

ul.screenshot-list li {
	list-style-type: none;
	width: 33.2%;
	margin: 5px 0 5px;
}

ul.screenshot-list li.active {
	opacity: 0.7;
}

ul.screenshot-list li img {
	width: 100%;
	aspect-ratio: 320/200;
	height: 200px;
	border: 1px solid black;
	object-fit: cover;
}

div.result-controls, p.download-button {
	margin: auto;
	width: fit-content;
}

#upload-container {
	width: 770px;
	margin: auto;
	padding: 10px;
}

form#upload textarea {
	width: 100%;
}

#uppy {
	margin: auto;
	width: min-content;
	padding: 15px 0;
}