/* You can add global styles to this file, and also import other style files */

html, body {
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	flex: 1;
	display: flex;
	width: 100%;
	max-width: 100%;
}

.content {
	flex: 1;
}

header.jumbotron {
	font-size: x-large;
	font-weight: bold;
}

footer div {
	width: 100%;
	text-align: center;
	color: #6c757d;
}

ul.result-list {
	display: flex;
	flex-wrap: wrap;
}

li.result-item {
	list-style-type: none;
	height: 250px;
	width: 320px;
	margin: 15px;
	overflow: hidden;
}

li.result-item img {
	width: 100%;
	height: 160px;
	border: 1px solid black;
	object-fit: cover;
}

div.result-controls {
	margin: auto;
	width: fit-content;
}