<ul class="result-list">
    <li class="result-item" *ngFor="let item of items">
        <a href="/{{ itemType }}/{{ item.ref }}" routerLink="/{{ itemType }}/{{ item.ref }}"><img src="{{ getScreenshotUrl(item.primary_screenshot) }}" alt=""></a>
        <p><a href="/{{ itemType }}/{{ item.ref }}" routerLink="/{{ itemType }}/{{ item.ref }}">{{ item.title }}</a> by <a href="/user/{{ item.user.ref }}" routerLink="/user/{{ item.user.ref }}">{{ item.user.name }}</a></p>
        <p>{{ item.description }}</p>
    </li>
</ul>

<div class="result-controls"><span *ngIf="showPrev"><a [routerLink]="['/'+itemType+'s', page-1]">&lt; Prev</a> &bull; </span>Page {{ page }} / {{ lastPage }}<span *ngIf="showNext"> &bull; <a [routerLink]="['/'+itemType+'s', page+1]">Next &gt;</a></span></div>