<div id="item-details">
<h1>{{ item.title }}</h1>
<div>By <a href="/user/{{ user.ref }}" routerLink="/user/{{ user.ref }}">{{ user.name }}</a> <span *ngIf="belongsToCurrentUser()"> [ <a href="/{{ itemType }}/{{ item.ref }}/edit" routerLink="/{{ itemType }}/{{ item.ref }}/edit">edit</a> ]</span></div>
<div class="alert alert-secondary" >
<span *ngIf="hasParent()">This item is derived from <a href="{{ itemType }}/{{parent.ref}}" [routerLink]="['/'+itemType+'/'+parent.ref]">{{parent.title}}</a><span *ngIf="!parentBelongsToSameUser()">&nbsp;by <a href="/user/{{ parent.user.ref }}" routerLink="/user/{{ parent.user.ref }}">{{parent.user.name}}</a></span>.&nbsp;</span>
<span *ngIf="belongsToCurrentUser()">Have you made changes to this item? <a href="new;parent={{ itemId }};itemType={{ itemType }}" [routerLink]="['/new', {parent: itemId, itemType: itemType}]">Upload a revision</a>!</span>
<span *ngIf="!belongsToCurrentUser()">Were you inspired by this item? <a href="new;parent={{ itemId }};itemType={{ itemType }}" [routerLink]="['/new', {parent: itemId, itemType: itemType}]">Upload a revision</a>! The original creator will get a mention and your ship will be listed in the revisions on this page.</span>
</div>

<markdown [data]="item.description"></markdown>

<ul class="item-tags">
    <li *ngFor="let tag of tags"><a href="/tag/{{ tag.slug }}" routerLink="/tag/{{ tag.slug }}">{{ tag.label }}</a></li>
</ul>

<p class="download-button"><a href="api/v1/{{ itemType }}/{{ itemId }}/download" class="btn btn-primary">Download</a><br>{{ item.downloads }} downloads</p>

<h3 *ngIf="hasChildren()">Revisions</h3>
<ul *ngIf="hasChildren()">
    <li *ngFor="let child of children"><a href="{{ itemType }}/{{child.ref}}" [routerLink]="['/'+itemType+'/'+child.ref]">{{ child.title }}</a><span *ngIf="user.ref !== child.user.ref">&nbsp;by <a href="/user/{{ child.user.ref }}" routerLink="/user/{{ child.user.ref }}">{{child.user.name}}</a></span></li>
</ul>

<!-- <p>Meta data goes here</p> -->
</div>

<div id="item-screenshots" *ngIf="hasScreenshots()">
<div class="primary-screenshot"><img src="api/v1/screenshot/{{ activeShot.ref }}/download" alt="{{ activeShot.description }}" title="{{ activeShot.description }}"></div>
<ul class="screenshot-list">
    <li *ngFor="let screenshot of screenshots" [ngClass]="{'active': activeShot.ref === screenshot.ref }">
        <a href=""><img src="api/v1/screenshot/{{ screenshot.ref }}/download" alt="{{ screenshot.description }}" title="{{ screenshot.description }}"></a>
    </li>
</ul>
</div>
